/* Page Layouts */

html {
  max-height: 1000px;
  display: inline-flex;
  
}

#side-bar {
  background:#131426;
  float: right;
  height: 100%;
  margin-left: 100px;
  width:100%;
}

#myCanvas {
  border: solid;
  border-width: light;
  min-width: 500px;
  min-height: 500px;
  margin-top: 100px;
  margin-right:100px;
  margin-left: 100px;
  background-color: white;
}

#palette {
  /* display:inline-flex; */
  
  border-color: #000;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: light;
  
  width: 50px;
  height: 120px;
  margin-top: 100px;
}
.color {
  border-color: #000;
  border-width: thin;
  /* border: solid; */
  width: 12px;
  height: 12px;
  margin: 5px;
  display: inline-block
}
#red {
  background-color: red
}
#orange {
  background-color: orange
}
#yellow {
  background-color: yellow
}
#green {
  background-color: green
}
#blue {
  background-color: blue
}
#indigo {
  background-color: indigo
}
#violet {
  background-color: violet
}
#black {
  background-color: black;
}

#eraser {
  border-radius: 50%;
  font-size: 8px;
  display: block;
  margin: 0 auto;
}

/* other classes */

/* login "page" */


#login-div {
  justify-content: center;
}

#login-sidebar {
  display:block;
  background-color: #131426;
  padding: 50% 50px;
  height:100%;
  width:300px;
  left: -10px;
  top: -10px;
  bottom: -10px;
}

#login-input {
  width:100%;
  height: 100%;
  text-align:center;
  margin: 0 auto;
}


#login-layout {
  display:flex;
  width: 100%;
  height: 100%;
}

#content-div {
  display: inline-block;
  position: relative;
  justify-content: center;
  width: 100%;
}

div.hidden {
  visibility: hidden;
}

#enter {
  text-align: center;
  border-radius: 5%;
  background: "pink";
  width: 150px;
  height: 50px;
}

/* Paint Room */

.paintroom {
  display: flex;
}

#myCanvas {
  display: inline-block;
  border: solid;
  border-width: light;
  width: 500px;
  height: 500px;
  background:white;
  margin: 20px;
}

#sidebar-container{
  display: inline-block;
  background-color:rgb(19,20,38);
  margin-right: 100px;
  color: white;
  padding-top: 50px
}

#sidebar-contents li{
  display:block;
  margin: 40px;

}
