/* Page Layouts */

html {
  background: black;
}

/* other classes */

/* login "page" */

#login-div {
  display: inline-block;
  background-color:rgb(19,20,38);
  padding: 10% 50px;
  height: 100%;
  width:300px;
  left: -10px;
  top: -10px;
  bottom: -10px;
  float:left;
}

#login-form {
  justify-content: center;
  align-content: center;
}

#login-input {
  width:100%;
  text-align:center;
  margin: 0 auto;
}

#login-layout {
  display:flex
}

#content-div {
  display: inline-block;
  position: relative;
  justify-content: center;
}

.hidden {
  display: none;
}

#enter {
  
}

/* button settings */

.login-button {
  border: solid;
  text-align: center;
  border-radius: 10%;
  background-color: rgb(236,76,46);
  color:white;
  margin: 20 auto;
  width: 150px;
  height: 50px;
}

/* Paint Room */

#paintroom {
  display: flex;
}

#myCanvas {
  display: inline-block;
  border: solid;
  border-width: light;
  width: 500px;
  height: 500px;
  background:white;
}

#sidebar-container{
  display: inline-block;
  background-color:rgb(19,20,38);
  margin-right: 100px;
  color: white;
  padding-top: 50px
}

#sidebar-contents li{
  display:block;
  margin: 40px;
}

#palette {
  position:relative;
  border-color: silver;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: light;
  width: 60px;
  height: 120px;
  overflow: hidden;
  border-radius: 5%;
}

/* Inner palette settings  */

  .color {
    border-color: #000;
    border-width: thin;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 3px;
    display: inline-block;
  }

  #red {
    background-color: red
  }
  #orange {
    background-color: orange
  }
  #yellow {
    background-color: yellow
  }
  #green {
    background-color: green
  }
  #blue {
    background-color: blue
  }
  #indigo {
    background-color: indigo
  }
  #violet {
    background-color: violet
  }
  #black {
    background-color: black;
  }

  #eraser {
    border-radius: 50%;
    font-size: 8px;
    display: block;
    margin: 0 auto;
  }