@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

footer {
  position: absolute;
  width:100%;
  color: white;
  background: #462556;
  border: solid 2px black;
  height: 80px;
  left:-10;
  bottom: -10;
  right: -10;
}

#footer-list li {

}

/* Page Layouts */

html,body {
  background: url("../../pics/joanna-kosinska-433799-unsplash.jpg");
  background-size: contain;
  /* max-height: 1200px; */
  min-height: 1200px;
  /* display: inline; */
  padding: 0;
  position:relative;

  min-height: 850px;
  /* overflow: hidden; */
  display: block;
}
/* Paint Room */
#palette {
  border-color: #000;
  border-bottom-style: solid;
  border-right-style: solid;
  width: 100%;
  min-width: 200px;
  height: 160px;
  margin-top: 100px;
  border-radius: 20px;
}
.color {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  margin: 7px;
  display: inline-block;
  border-radius: 100%;
}
#red {
  background-color: red
}
#orange {
  background-color: orange
}
#yellow {
  background-color: yellow
}
#green {
  background-color: green
}
#blue {
  background-color: blue
}
#indigo {
  background-color: indigo
}
#violet {
  background-color: violet
}
#black {
  background-color: black;
}
#maroon {
  background-color: maroon;
}
#olive {
  background-color: olive;
}
#lime {
  background-color: lime;
}
#aqua {
  background-color: aqua;
}
#teal {
  background-color: teal;
}
#navy {
  background-color: navy;
}
#fuchsia {
  background-color: fuchsia;
}
#silver {
  background-color: silver;
}
#gray {
  background-color: gray;
}




#eraser {
  border-radius: 50%;
  font-size: 8px;
  display: block;
  margin: 0 auto;
}

/* other classes */

/* login "page" */

#draw {
  color: #80a5be;
}

#bryan {
  color: #ff3CAA;
}

#login-div {
  justify-content: center;
}

#login-sidebar {
  display:block;
  /* background-color: rgba(242, 242,252,.75); */
  width:900px;;
  color: white;
  /* border:solid; */
  /* border-width:1px; */
  /* border-color: rgb(180,	180,	238); */
}

#login-form {
  display: block;
}

#login-form input {
  justify-self: center;
  display: inline-block;
}

#login-minibox {
  /* background: rgb(180,	180,	238); */
  display: block;
  margin-top:50px;
  width:150px;
  height:q50px;
  /* padding-top: 30px; */
  justify-content: center;
}

#content-div {
  display: inline-block;
}

#content-text-div{
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 250px;
  width: 800px;
  height: 550px;
}

.hidden {
  display: none;
}

#enter {
  text-align: center;
  border-radius: 5%;
  background: "pink";
  width: 150px;
  height: 50px;
}

.subtitle {
  display:block;
  margin: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 70px;
  left:900px;
  justify-content: right;
  width: 100%;
}

.subtitle-con {
  justify-content: right;
}

.title {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  float: left;
  /* margin-top: 30px; */
  color: #9370DB;
}

#title-con {
  width: 100%;
  justify-content: right;
}

.welcome-user {
  color: #388798
}

/* Paint Room */

#paintroom {
  display: hidden;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: .5rem;
}

#left-div {
  height: 100%;
  background:rgba(75,0,130,.25);
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
}

#middle-div {
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-content: center;

}

#myCanvas {
  min-width: 700px;
  min-height: 700px;
  width: 100%;
  background:white;
  border-radius: 25px;
  border: .5px solid #000000;
  box-shadow: 5px 10px rgba(0,0,0,.30);
  margin: 0 auto;
}

#right-div{
  /* background: url("../../pics/woodbackground.jpeg"); */
  background: rgba(12,55,89, .2);
  background-size: contain;
  color: white;
  height:100%;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 25px;
  padding: 20px;
}

#sidebar-contents li{
  display:block;
  margin-bottom: 40px;
}

#chat-div {
  height:400px;
  width:100%;
  overflow:auto;
  padding-top: 2px;
  border: 2px solid #8ccabf;
  background:white;
  margin-bottom: 40px;
}

#chat-div, h4 {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 2px;
}

#chat li {
  margin-top: 2px;
}

#msg-input {
  border: none;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.user-msg, .current-user {
  color: #c5ebff; 
}

/* Buttons */

.button-style {
  border-radius: 15px;
  border: none;
  color: white;
  text-align:center;
  background: #8ccabf;
  height: 20px;
}

#send-msg-btn {
  margin-top: 10px;
  float:right;
}

/* Misc */

